html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-width: $mobile;
  margin: 0;

  color: var(--fontColor);
  background-color: var(--bgBodyColor);

  font-family: var(--mainFontFamily), sans-serif;
  font-weight: 400;
  font-size: var(--mainFontSize);
  line-height: 1.22;
  background-image: url(../../src/images/bg/bg_top_mobile.svg),
    url(../../src/images/bg/bg_botom_mobile.svg);
  background-repeat: no-repeat;
  background-position: top center, bottom 216px center;
  background-size: 100% 460px, 100% 1215px;

  @media screen and (min-width: $tablet) {
    background-image: url(../../src/images/bg/bg_top_tablet.svg),
      url(../../src/images/bg/bg_botom_tablet.svg);
    background-repeat: no-repeat;
    background-position: top center, bottom 63px center;
    background-size: 100% 657px, 100% 1260px;
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../../src/images/bg/bg_top_desktop.svg),
      url(../../src/images/bg/bg_botom_desktop.svg);
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100% 1035px, 100% 1500px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
