.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    max-width: 350px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 695px;
  }


  @media screen and (min-width: 1024px) {


    max-width: 884px;
  }
}
