.container {
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 768px) {
    max-width: 694px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1280px) {
    max-width: 882px;
    
  }
}
