.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    max-width: 320px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 695px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 885px;
  }
}
