:root {
  --bgBodyColor: #ffffff;
  --fontColor: #2e2520;
  --accentColor: #ab816c;
  --hoverColor: #876655;
  --activeColor: #674d40;
  --accentFontColor: #ffffff;
  --placeholderColor: rgba(171, 129, 108, 0.5);
  --mainFontFamily: Montserrat;
  --mainFontSize: 16px;
  --titleFont: Caveat Brush;
  --titleFontWeight: 400;
  --btnFont: Caveat Brush;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  margin: 0;
  color: var(--fontColor);
  background-color: var(--bgBodyColor);
  font-family: var(--mainFontFamily), sans-serif;
  font-weight: 400;
  font-size: var(--mainFontSize);
  line-height: 1.22;
  background-image: url(../../src/images/bg/bg_top_mobile.svg), url(../../src/images/bg/bg_botom_mobile.svg);
  background-repeat: no-repeat;
  background-position: top center, bottom 216px center;
  background-size: 100% 460px, 100% 1215px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body .box {
    background-image: url(../../src/images/bg/bg_top_mobile.svg), url(../../src/images/bg/bg_botom_mobile.svg) !important;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../../src/images/bg/bg_top_tablet.svg), url(../../src/images/bg/bg_botom_tablet.svg);
    background-repeat: no-repeat;
    background-position: top center, bottom 63px center;
    background-size: 100% 657px, 100% 1260px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body .box {
    background-image: url(../../src/images/bg/bg_top_tablet.svg), url(../../src/images/bg/bg_botom_tablet.svg) !important;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: url(../../src/images/bg/bg_top_desktop.svg), url(../../src/images/bg/bg_botom_desktop.svg);
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100% 1035px, 100% 1500px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  body .box {
    background-image: url(../../src/images/bg/bg_top_desktop.svg), url(../../src/images/bg/bg_botom_desktop.svg) !important;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-hero {
  padding-top: 83px;
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .section-hero {
    padding-top: 159px;
    padding-bottom: 26px;
  }
}

.section-about-us {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .section-about-us {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .section-about-us {
    padding-top: 30px;
    padding-bottom: 13px;
  }
}

.section-reviews {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .section-reviews {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .section-reviews {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

.section-registration {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .section-registration {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.section-contact {
  padding-top: 7px;
  padding-bottom: 7px;
}

@media screen and (min-width: 768px) {
  .section-contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .section-contact {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}

.section-footer {
  padding-top: 40px;
  padding-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .section-footer {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .section-footer {
    padding-top: 15px;
    padding-bottom: 21px;
  }
}

.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 695px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 884px;
  }
}

.header {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.header__container {
  padding-top: 7px;
}

@media screen and (max-width: 1279px) {
  .header__container .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 27px;
  }
}

@media screen and (min-width: 1279px) {
  .header__container {
    padding-top: 31px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--fontColor);
}

.nav__link:focus, .nav__link:hover {
  color: var(--hoverColor);
}

.section-hero {
  position: relative;
}

.hero__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    text-align: left;
  }
}

.hero__title {
  margin-bottom: 3px;
  font-family: var(--titleFont);
  font-weight: var(--titleFontWeight);
  font-size: 30px;
  line-height: 1.27;
}

@media screen and (min-width: 768px) {
  .hero__title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 64px;
    line-height: 1.02;
  }
}

.hero__subtitle {
  margin-bottom: 37px;
  font-weight: 500;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .hero__subtitle {
    margin-bottom: 26px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero__img-spoon {
  position: absolute;
  left: 0;
  top: 168px;
}

@media screen and (max-width: 1279px) {
  .hero__img-spoon {
    display: none;
  }
}

.hero__img-donuts {
  position: absolute;
  width: 120px;
  left: 0px;
  top: 0px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero__img-donuts {
    width: 380px;
    right: 137px;
    left: auto;
    top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-donuts {
    width: 720px;
    right: 0px;
    top: 0px;
  }
}

.section--about-us {
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .section--about-us {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .section--about-us {
    margin-top: 60px;
  }
}

.about-us__flex {
  display: block;
}

@media screen and (min-width: 768px) {
  .about-us__flex {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-us__item {
    width: calc((100% - 4 * 15px) / 2);
    margin-left: 15px;
  }
}

.about-us-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about-us-img {
    position: absolute;
    top: -10px;
    left: -15px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-img {
    position: absolute;
    top: -30px;
    left: -60px;
  }
}

.about-us__title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-us__title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__title {
    font-size: 36px;
    line-height: 1.8;
  }
}

.more__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: var(--titleFont);
  font-size: 18px;
  line-height: 3.6;
  color: var(--accentColor);
}

.more__btn:hover, .more__btn:focus {
  color: var(--hoverColor);
}

.more__btn:active {
  color: var(--activeColor);
}

@media screen and (min-width: 1280px) {
  .more__btn {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .about-us__content {
    line-height: 1.4;
  }
  .about-us__content.last {
    margin-top: 15px;
  }
  .about-us__content.hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us__content {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__content {
    font-size: 18px;
    line-height: 1.57;
  }
  .about-us__content.last {
    margin-bottom: 15px;
  }
  .about-us__content.hidden {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .section-program__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .section-program__container {
    padding-bottom: 68px;
  }
}

.section-program__title {
  text-align: center;
  color: var(--fontColor);
}

@media screen and (min-width: 768px) {
  .section-program__title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .section-program__title {
    margin-bottom: 10px;
  }
}

.section-program__text {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .section-program__text {
    font-size: 18px;
    margin-bottom: 21px;
  }
}

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__item::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  content: '';
  width: 22px;
  height: 22px;
  background-image: url(/images/coffee-cup-bullet.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.description__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .description__item {
    font-size: 18px;
  }
  .description__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1279px) {
  .section-program__more {
    margin-top: 10px;
  }
  .section-program__more.hidden {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .section-program__more {
    font-size: 18px;
    margin-top: 21px;
  }
}

.section-program__description {
  -ms-flex-preferred-size: calc((100% -20px) / 2);
      flex-basis: calc((100% -20px) / 2);
}

@media screen and (min-width: 768px) {
  .section-program__description {
    margin-right: 40px;
  }
}

.section-program__points {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .section-program__points {
    -ms-flex-preferred-size: calc((100% -20px) / 2);
        flex-basis: calc((100% -20px) / 2);
  }
}

.points__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .points__list {
    margin-left: -6px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .points__list {
    margin-left: -15px;
  }
}

@media screen and (min-width: 1280px) {
  .points__list {
    margin-left: -32px;
  }
}

.points__item {
  position: relative;
  width: 142px;
  height: 142px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: #fef3e4;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

.points__item:nth-child(n + 3) {
  margin-top: 57px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .points__item {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .points__item {
    width: 180px;
    height: 180px;
    margin-left: 32px;
  }
  .points__item:nth-child(n + 3) {
    margin-top: 61px;
  }
}

.points__item:nth-child(2n) {
  position: relative;
  bottom: -33px;
}

.points__title {
  font-family: var(--titleFont);
  font-size: 18px;
  line-height: 1.277;
  text-align: center;
  color: #000;
  padding-top: 50px;
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .points__title {
    font-size: 24px;
    line-height: 1.25;
    padding-top: 63px;
    margin-bottom: 16px;
  }
}

.points__text {
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .points__text {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.points__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

@media screen and (min-width: 1280px) {
  .points__icon {
    margin-bottom: 11px;
  }
}

.points__picture {
  position: absolute;
  top: -25%;
  left: 25%;
}

@media screen and (max-width: 1279px) {
  .points__picture {
    width: 77px;
  }
}

@media screen and (min-width: 1280px) {
  .points__picture {
    width: 97px;
  }
}

.section-reviews {
  margin-right: auto;
  margin-left: auto;
}

.section-reviews__title {
  text-align: center;
}

.reviewers-cardset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviewer-photo {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .reviewer-photo {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .reviewer-photo {
    margin-left: auto;
    margin-right: auto;
    width: 136px;
  }
}

.reviewer-rate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviewers-cardset__item {
  margin-left: auto;
  margin-right: auto;
}

.reviewers-cardset__item--show {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviewers-cardset__item--show {
    display: block;
  }
}

.reviewer__name {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  line-height: 4.64;
}

@media screen and (min-width: 1280px) {
  .reviewer__name {
    font-size: 16px;
  }
}

.reviewer__feedback-text {
  max-width: 626px;
  text-align: center;
  color: var(--fontColor);
}

@media screen and (min-width: 1280px) {
  .reviewer__feedback-text {
    font-size: 18px;
  }
}

.reviewer-feedback-text--show {
  display: none;
}

@media screen and (max-width: 767px) {
  .reviewer-feedback-text--show {
    display: block;
  }
}

.counter {
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
  font: size 16px;
  color: var(--accentColor);
}

.counter__text {
  display: inline-block;
  vertical-align: middle;
}

.counter:before,
.counter:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 1px;
  background-color: var(--accentColor);
  position: relative;
}

.counter:before {
  margin-left: -100%;
  left: -12px;
}

.counter:after {
  margin-right: -100%;
  right: -12px;
}

@media screen and (max-width: 320px) {
  .reviewer-photo--center {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
  }
}

@media screen and (min-width: 768px) {
  .reviewer-photo--center {
    margin-left: auto;
    margin-right: auto;
    width: 186px;
  }
}

@media screen and (min-width: 1280px) {
  .reviewer-photo--center {
    margin-left: auto;
    margin-right: auto;
    width: 234px;
  }
}

.section-footer {
  position: relative;
}

.footer-social {
  text-align: center;
  margin-bottom: 34px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-bottom: 51px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-social {
    margin-bottom: 35px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  color: var(--fontColor);
  line-height: 1.25;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--hoverColor);
}

.footer__img-flour {
  position: absolute;
  width: 113px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .footer__img-flour {
    width: 207px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__img-flour {
    width: 362px;
  }
}

.footer__contact-icon {
  fill: currentColor;
  margin-right: 3px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background: rgba(254, 243, 228, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (max-width: 1199.9px) {
  .mobile-menu {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    height: 60%;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navigation--mobile-menu {
  text-align: center;
  padding-top: 25px;
}

.logo-menu {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.navigation--link {
  padding: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: var(--fontColor);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation--link:hover, .navigation--link:focus {
  color: var(--hoverColor);
}

.navigation--item:not(:last-child) {
  margin-bottom: 45px;
}

.logo {
  margin-right: auto;
  margin-left: auto;
  width: 96px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-left: 0;
    margin-right: 40px;
    width: 158px;
  }
}

.social-icons__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-icons__item + .social-icons__item {
  margin-left: 12px;
}

.social-icons__link {
  width: 20px;
  height: 20px;
}

.social-icons__icon {
  width: 20px;
  height: 15px;
  fill: var(--fontColor);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--hoverColor);
}

@media screen and (min-width: 1280px) {
  .social-icons__icon {
    width: 24px;
    height: 19px;
  }
}

.button {
  font-family: Caveat Brush;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 25px;
  min-width: 145px;
  border: none;
  font-size: 18px;
  line-height: 1.61;
  text-align: center;
  background-color: var(--accentColor);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accentFontColor);
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: var(--hoverColor);
}

.button:active {
  background: var(--activeColor);
}

@media screen and (min-width: 1280px) {
  .button {
    font-size: 24px;
  }
}

.hero__button {
  display: block;
  width: 145px;
  margin: auto;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .hero__button {
    margin-bottom: 31px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero__button {
    width: 158px;
    height: 45px;
    margin-bottom: 65px;
    line-height: 1.4;
  }
}

.more__btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: var(--titleFont);
  font-size: 18px;
  color: var(--accentColor);
}

.more__btn:hover, .more__btn:focus {
  color: var(--hoverColor);
}

.more__btn:active {
  color: var(--activeColor);
}

@media screen and (min-width: 1280px) {
  .more__btn {
    display: none;
  }
}

.section-title {
  color: var(--fontColor);
  font-family: var(--titleFont);
  font-weight: var(--titleFontWeight);
  font-size: 24px;
  line-height: 2.7;
}

@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 36px;
    line-height: 1.8;
  }
}

.registration__wrap {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 12px;
  padding-top: 15px;
  max-width: 290px;
  height: 510px;
  border-radius: 150px 150px 0px 0px;
  background-color: #fffff9;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
}

.registration__section-title {
  margin-bottom: 12px;
}

.registration__date-location {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  width: 100%;
}

.registration__date-location::after {
  content: '';
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(171, 129, 108, 0.5);
}

.registration__price {
  display: block;
  margin-top: 25px;
}

.registration__container {
  padding-top: 15px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.registration-form__title {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 17px;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.registration-form__field {
  width: 100%;
  padding-bottom: 2px;
  border: none;
  font-family: Montserrat;
  line-height: 1.2;
  background-color: transparent;
  color: var(--fontColor);
  outline-color: var(--placeholderColor);
  border-bottom: 1px solid var(--accentColor);
}

.registration-form__field:not(:last-child) {
  margin-bottom: 25px;
}

.registration-form__field::-webkit-input-placeholder {
  line-height: 1.25;
  color: var(--placeholderColor);
}

.registration-form__field:-ms-input-placeholder {
  line-height: 1.25;
  color: var(--placeholderColor);
}

.registration-form__field::-ms-input-placeholder {
  line-height: 1.25;
  color: var(--placeholderColor);
}

.registration-form__field::placeholder {
  line-height: 1.25;
  color: var(--placeholderColor);
}

.registration-form__field:invalid:not(:focus) {
  color: red;
}

.registration-form__button {
  margin-top: 35px;
}

.registration-form__field:-webkit-autofill, .registration-form__field:-webkit-autofill:hover, .registration-form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--activeColor);
  -webkit-box-shadow: 0 0 0px 1000px var(--bgColor) inset;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .registration__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 35px 25px;
    max-width: 634px;
    height: 260px;
    border-radius: 150px;
    z-index: 10;
  }
  .registration__wrap::before {
    position: absolute;
    content: '';
    left: -43px;
    top: 15px;
    z-index: -1;
    display: block;
    width: 250px;
    height: 250px;
    background-image: url(/images/registration/donut5_tablet.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .registration__wrap::after {
    position: absolute;
    content: '';
    right: -37px;
    bottom: -71px;
    z-index: -1;
    display: block;
    width: 280px;
    height: 370px;
    background-image: url(/images/registration/confetti.tablet.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .registration__information {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(33% - 32px);
  }
  .registration__section-title {
    position: absolute;
    top: -12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .registration__date-location {
    padding-top: 20px;
    text-align: right;
    margin-right: 30px;
  }
  .registration__date-location::after {
    position: absolute;
    content: '';
    top: -15px;
    right: 0;
    height: 100%;
    width: 1px;
    margin-left: 30px;
  }
  .registration__container {
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    height: 390px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 2dppx) {
  .registration__wrap::before {
    background-image: url("/images/registration/donut5_tablet@2x.png");
    background-size: contain;
  }
  .registration__wrap::after {
    background-image: url("/images/registration/confetti.tablet@2x.png");
    background-size: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .registration-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
  }
  .registration-form__wrap {
    max-width: 250px;
  }
  .registration-form__field {
    max-width: 234px;
  }
  .registration-form__field:not(:last-child) {
    margin-bottom: 15px;
  }
  .registration-form__title {
    text-align: left;
    margin-bottom: 17px;
    margin-left: 12px;
  }
  .registration-form__button {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .registration__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 35px 25px;
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
    z-index: 10;
  }
  .registration__wrap::before {
    position: absolute;
    content: '';
    left: -134px;
    top: 76px;
    z-index: -1;
    display: block;
    width: 255px;
    height: 200px;
    background-image: url(/images/registration/donut5_desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .registration__wrap::after {
    position: absolute;
    content: '';
    right: -144px;
    bottom: -255px;
    z-index: -1;
    display: block;
    width: 500px;
    height: 588px;
    background-image: url(/images/registration/confetti.desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .registration__section-title {
    position: absolute;
    top: 24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .registration__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 18px;
    line-height: 1.22px;
    width: calc((100% - 30px) / 3);
  }
  .registration__date-location {
    padding-top: 20px;
    text-align: right;
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
  }
  .registration__date-location::after {
    position: absolute;
    content: '';
    top: -15px;
    right: 0;
    height: 100%;
    width: 1px;
    margin-left: 30px;
  }
  .registration__container {
    position: relative;
    padding-top: 99px;
    padding-bottom: 27px;
  }
  .registration-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc((200% - 60px) / 3);
  }
  .registration-form__title {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    min-width: 234px;
  }
  .registration-form__wrap {
    max-width: 234px;
  }
  .registration-form__field:not(:last-child) {
    margin-bottom: 15px;
  }
  .registration-form__button {
    margin-top: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .registration__wrap::before {
    background-image: url("/images/registration/donut5_desktop@2x.png");
    background-size: cover;
  }
  .registration__wrap::after {
    background-image: url("/images/registration/confetti.desktop@2x.png");
  }
}

.contacts-form__input {
  border: none;
  border-bottom: 1px solid var(--accentColor);
  display: block;
  background-color: transparent;
  width: 265px;
}

@media screen and (min-width: 768px) {
  .contacts-form__input {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-form__input {
    width: 430px;
  }
}

.contacts-form__input::-webkit-input-placeholder {
  color: var(--accentColor);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts-form__input:-ms-input-placeholder {
  color: var(--accentColor);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts-form__input::-ms-input-placeholder {
  color: var(--accentColor);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts-form__input::placeholder {
  color: var(--accentColor);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts-form__input:focus-within {
  outline: none;
}

.contacts-form__field {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  background-color: transparent;
}

.contacts-form__field:nth-child(2) {
  margin-bottom: 37px;
}

.contacts__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
}

.contacts-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 260px;
}

.hamburger {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

@media screen and (min-width: 1279px) {
  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    top: 11px;
    right: 52px;
  }
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-open:hover {
  opacity: 0.7;
}

.hamburger.is-open .hamburger-inner,
.hamburger.is-open .hamburger-inner::before,
.hamburger.is-open .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #2e2520;
  border-radius: 2px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

.hamburger--stand .hamburger-inner {
  -webkit-transition: background-color 0s 0.075s linear, -webkit-transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: background-color 0s 0.075s linear, -webkit-transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear, -webkit-transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-open .hamburger-inner {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent !important;
  -webkit-transition: background-color 0s 0.15s linear, -webkit-transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0s 0.15s linear, -webkit-transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear, -webkit-transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-open .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-open .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: bottom 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*# sourceMappingURL=main.css.map */