// Colors
:root {
  --bgBodyColor: #ffffff;
  --fontColor: #2e2520;

  --accentColor: #ab816c; //кнопки, Read more, Less, Review зірки,Reviews номера сторінок
  --hoverColor: #876655; //
  --activeColor: #674d40; //

  --accentFontColor: #ffffff;
  --placeholderColor: rgba(171, 129, 108, 0.5);

  // Fonts

  --mainFontFamily: Montserrat;
  --mainFontSize: 16px;
  --titleFont: Caveat Brush;
  --titleFontWeight: 400;
  --btnFont: Caveat Brush;
}

//screen
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
