<section class="section-about-us" id="about-us">
  <div class="about-us__flex container">
    <div class="empty_box about-us__item">
      <img
        class="about-us-img"
        srcset="
          ./images/about_us/box_mobile.png      290w,
          ./images/about_us/box_tablet.png      330w,
          ./images/about_us/box_desktop.png     512w,
          ./images/about_us/box_mobile@2x.png   580w,
          ./images/about_us/box_tablet@2x.png   660w,
          ./images/about_us/box_desktop@2x.png 1024w
        "
        src="./images/about_us/box_mobile.png"
        sizes="(min-width: 1280px) 512px, (min-width: 768px) 330px, 290px"
        alt="Coffee and bow with donuts"
      />
    </div>

    <div class="about-us__item">
      <h2 class="section-title about-us__title">About us</h2>
      <p class="about-us__box about-us__content">
        Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated
        donuts which will save the world!
      </p>
      <p class="about-us__content last">
        Eva has been baking since she was six years old and over the last 49 years, she has created
        hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have
        received multiple awards & recognition for excellence.
      </p>
      <p class="about-us__content hidden last">
        We are going to teach you how to cook with passion and sparkles in your eyes! We love what
        we do and believe you will enjoy our cooking atmosphere!
      </p>
      <button type="button" class="more__btn">Read more</button>
    </div>
  </div>
</section>
