

<section id="contact" class="section contacts section-contact">
    <div class="container">
        <h2 class="section-title">Contact</h2>
        <p class="contacts__text">We will answer any question!</p>
        
    <div class="contacts-form__wrap">
        <form class="contacts-form">
            <label class="contacts-form__field">
                <input type="email" class="contacts-form__input" name="E-mail" placeholder="Email " />
            </label>
            <label class="contacts-form__field">
                <input type="text" class="contacts-form__input" name="type_your_question"
                    placeholder="Type your question" />                   
                </form>
                <button class="button" type="submit">Send</button>
                
    </div>
   
    </div>
</section>
