<section class="contacts">
    <div class=".container">
        <h2 class="">Contact</h2>
        <p class="">We will answer any question!</p>
        <div class="">
            <form action="">
                <label class="">
                    <input type="text" class="" name="E-mail" placeholder="Email " />
                </label>
                <label class="">
                    <input type="text" class="" name="type your question" placeholder="Type your question" />
                </label>
                <button class="">Send</button>
        </div>
        <ul>
            <li>
                <a href="" class="">
                    <svg class="" width='18' height='15'>
                        <use href=""></use>
                    </svg>
            </li>
            <li>
                <a href="" class="">
                    <svg class="" width='15' height='15'>
                        <use href=""></use>
                    </svg>
            </li>
            <li>
                <a href="" class="">
                    <svg class="" width='8' height='15'>
                        <use href=""></use>
                    </svg>
            </li>
        </ul>
    </div>
</section>