
<section id="contact" class="section contacts">
    <div class="container contacts-container">
      <div class="contacts__wrap">
        <h2 class="section-title contacts__section-title">Contact</h2>
            <form action="" method="POST" class="contacts-form" autocomplete="on">
            <div class="contacts-form__wrap">
                <div class="contacts__text" aria-label="form title Apply your personal info">We will answer any question!</div>
                <input type="email" class="contacts-form__field" name="user_phone" placeholder="Email">
                <input type="text" class="contacts-form__field" name="type your question" placeholder="Type your question" />
            </div>
            <button type="submit" class="button contacts-form__button">Send</button>
    </div>
    </form>
     </div>

    </div>
</section>
