<footer class="section section-footer">
  <div class="container footer__container">
    <div class="footer-social">
      <ul class="list social-icons__list footer-social__list">
        <li class="social-icons__item">
          <a
            href="https://twitter.com/?lang=en"
            class="link social-icons__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icons__icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-icons__item">
          <a
            href="https://www.instagram.com"
            class="link social-icons__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icons__icon">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-icons__item">
          <a
            href="https://www.facebook.com"
            class="link social-icons__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icons__icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address class="footer__addr">
      <ul class="list footer__list">
        <li class="list__item footer__item">
          <a class="link footer__link" href="tel:(910)222-8855">
            <svg class="footer__contact-icon" width="13" height="13">
              <use href="./images/symbol-defs.svg#icon-tel"></use>
            </svg>
            (910)222-8855
          </a>
        </li>
        <li class="list__item footer__item">
          <a class="link footer__link" href="./">
            <svg class="footer__contact-icon" width="11" height="14">
              <use href="./images/symbol-defs.svg#icon-location"></use>
            </svg>
            New York
          </a>
        </li>
      </ul>
    </address>
    <picture>
      <source
        srcset="
          /images/contact/contact_flour_desktop.png    1x,
          /images/contact/contact_flour_desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          /images/contact/contact_flour_tablet.png    1x,
          /images/contact/contact_flour_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          /images/contact/contact_flour_mobile.png    1x,
          /images/contact/contact_flour_mobile@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <img
        class="footer__img-flour"
        src="/images/contact/contact_flour_desktop.png"
        alt="donuts"
        width="719"
      />
    </picture>
  </div>
</footer>
