<!DOCTYPE html>
<footer class="footer section footer-section">
    <div class="container footer__container">
        <div class="social-icons footer__widget-block footer-social-icons">
            <ul class="list social-icons__list">
                <li class="social-icons__item">
                    <a href="" class="link social-icons__link" target="_blank" rel="noopener noreferrer">
                        <svg class="social-icons__icon">
                            <use href="./images/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-icons__item">
                    <a href="" class="link social-icons__link" target="_blank" rel="noopener noreferrer">
                        <svg class="social-icons__icon">
                            <use href="./images/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-icons__item">
                    <a href="" class="link social-icons__link" target="_blank" rel="noopener noreferrer">
                        <svg class="social-icons__icon">
                            <use href="./images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="addr footer__widget-block">
            <address class="addr__title">
                <ul class="list footer__list menu contact">
                    <li class="list__item footer__item contact__item">
                        <a class="link footer__link contact__link" href="tel:(910)222-8855">
                            <svg class="contact__icon" width="10" height="16">
                                <use href="./images/symbol-defs.svg#icon-tel"></use>
                            </svg>
                            (910)222-8855
                        </a>
                    </li>
                    <li class="list__item footer__item contact__item">
                        <a class="link footer__link contact__link" href="./">
                            <svg class="contact__icon" width="16" height="12">
                                <use href="./images/symbol-defs.svg#icon-location"></use>
                            </svg>
                            New York
                        </a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</footer>