<header class=".header">
  <div class="container header__container">
    <nav class="nav">
      <a href="" class="logo">
        <picture>
          <source
            srcset="/images/logo/logo_desktop.png 1x, /images/logo/logo_desktop@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/images/logo/logo_mobile.png 1x, /images/logo/logo_mobile@2x.png 2x"
            media="(max-width: 1279px)"
          />
          <img src="/images/logo/logo_desktop.png" max-width="158px" alt="Лого" />
        </picture>
      </a>
      <ul class="list nav__menu-list">
        <li class="nav__menu-list-item"><a href="" class="link nav__menu-link">About us</a></li>
        <li class="nav__menu-list-item"><a href="" class="link nav__menu-link">Program</a></li>
        <li class="nav__menu-list-item"><a href="" class="link nav__menu-link">Review</a></li>
        <li class="nav__menu-list-item"><a href="" class="link nav__menu-link">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
