<section class="hero section-hero">
  <div class="container hero__container">
    <h1 class="hero__title">Donut Masterclass <br />with the Donut King</h1>
    <p class="hero__subtitle">Hosted by Eva Green</p>
    <a class="link button hero__button" href="#registration" aria-label="Registration button"
      >Register</a
    >
    <ul class="list social-icons__list">
      <li class="social-icons__item">
        <a
          href="https://twitter.com/?lang=en"
          class="link social-icons__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icons__icon">
            <use href="./images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-icons__item">
        <a
          href="https://www.instagram.com"
          class="link social-icons__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icons__icon">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-icons__item">
        <a
          href="https://www.facebook.com"
          class="link social-icons__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icons__icon">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- spoon -->
    <img
      class="hero__img-spoon"
      srcset="/images/hero/spoon_desktop.png 1x, /images/hero/spoon_desktop@2x.png 2x"
      width="140"
      src="/images/hero/spoon_desktop.png"
      alt="spoon"
    />
    <!-- donuts -->
    <picture>
      <source
        srcset="/images/hero/donuts_hero_desktop.png 1x, /images/hero/donuts_hero_desktop@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="/images/hero/donuts_hero_tablet.png 1x, /images/hero/donuts_hero_tablet@2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="/images/hero/donuts_hero_mobile.png 1x, /images/hero/donuts_hero_mobile@2x.png 2x"
        media="(max-width: 767px)"
        type="image/png"
      />
      <img
        class="hero__img-donuts"
        src="/images/hero/donuts_hero_desktop.png"
        alt="donuts"
        width="793"
      />
    </picture>
  </div>
</section>
