<div class="mobile-menu-wrapper">
  <button class="hamburger hamburger__stand" type="button" aria-label="menu-button" data-menu-button>
    <span class="hamburger__box">
      <span class="hamburger__inner"></span>
    </span>
  </button>
  <div class="mobile-menu" data-menu>
    <nav class="navigation navigation__mobile-menu">
      <a href="/">
        <img
          class="logo-menu"
          srcset="images/logo/logo_mmenu.png 1x, images/logo/logo_mmenu@2x.png 2x"
          src="images/logo/logo_mmenu.png"
          alt="logo"
      /></a>

      <ul class="list">
        <li class="navigation__item">
          <a class="link navigation__link" href="#about-us">About us</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link" href="#program">Program</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link" href="#reviews">Reviews</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link" href="#contact">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
