<div class="mobile-menu" data-menu>
  <nav class="navigation navigation--mobile-menu">
    <a href="/">
      <img
        class="logo-menu"
        srcset="images/logo/logo_mmenu.png 1x, images/logo/logo_mmenu@2x.png 2x"
        src="images/logo/logo_mmenu.png"
        alt="logo"
    /></a>

    <ul class="navigation__list list">
      <li class="navigation--item">
        <a class="navigation--link link" href="#about-us">About us</a>
      </li>
      <li class="navigation--item"><a class="navigation--link link" href="#program">Program</a></li>
      <li class="navigation--item"><a class="navigation--link link" href="#reviews">Reviews</a></li>
      <li class="navigation--item">
        <a class="navigation--link link" href="#contact">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
