<section id="program" class="section section-program">
  <div class="container section-program__container">
    <div class="section-program__description">
      <h2 class="section-title section-program__title">Program</h2>
      <p class="section-program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>

      <ul class="description__list list">
        <li class="description__item">A stand up history of donuts</li>
        <li class="description__item">Make 3 donut flavors of your choice</li>
        <li class="description__item">Enjoy all-you-can-eat donuts</li>
        <li class="description__item">Cocktail pairings and coffee included</li>
        <li class="description__item">Photoshoot by professional photographer</li>
        <li class="description__item">Secret receipt of cooking from Eva</li>
        <li class="description__item">All products are included in the price</li>
      </ul>

      <p class="section-program__more hidden">
        Come with your dear people and friends and you will spend an unforgettable time and will
        become a real professional in donuts cooking!
      </p>
      <button type="button" class="more__btn">Read more</button>
    </div>

    <div class="section-program__points">
      <ul class="points__list list">
        <li class="points__item donut1">
          <h3 class="points__title">Type of the event</h3>
          <p class="points__text">Cooking classes</p>
          <svg width="20" height="18" class="points__icon">
            <use href="images/symbol-defs.svg#icon-chef-hat"></use>
          </svg>
        </li>
        <li class="points__item donut2">
          <h3 class="points__title">Number of guests</h3>
          <p class="points__text">1 to 20</p>
          <svg width="20" height="18" class="points__icon">
            <use href="images/symbol-defs.svg#icon-people"></use>
          </svg>
        </li>
        <li class="points__item donut3">
          <h3 class="points__title">Time of the event</h3>
          <p class="points__text">18:30 (2.5 hours)</p>
          <svg class="points__icon">
            <use href="images/symbol-defs.svg#icon-clock"></use>
          </svg>
        </li>
        <li class="points__item donut4">
          <h3 class="points__title">The host speaks</h3>
          <p class="points__text">English, French</p>
          <svg width="25" height="17" class="points__icon">
            <use href="images/symbol-defs.svg#icon-chat"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
