<section class="section section-reviews" id="reviews">
    <div class="container">
        <h2 class="section-title section-reviews__title">Reviews</h2>

    <div class="slider">

        <div class="slider__item">
            <div class="slider__image-wrap">
            <picture>
                <source srcset="/images/reviews/john_desktop.jpg 1x, /images/reviews/john_desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" type="image/jpg" />
            
                <source srcset="/images/reviews/john_tablet.jpg 1x, /images/reviews/john_tablet@2x.jpg 2x"
                    media="(min-width: 768px)" type="image/jpg" />
                <img src="/images/reviews/john_desktop.jpg" width="234" alt="Фото рецензента" />
            </picture>
            </div>
            <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136">
            <p class="reviewer__name">John</p>
            <p class="reviewer-feedback">
                Last time I have visited a cooking course by Eva I was impressed with the way she explained
                everything to people. You can be sure you will manage to cook a delicious dish even if it is
                your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
                the next one and highly recommend it to everyone!
              </p>
        </div>

        <div class="slider__item">
            <div class="slider__image-wrap">
            <picture>
                <source srcset="/images/reviews/will_desktop.jpg 1x, /images/reviews/will_desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" type="image/jpg" />
            
                <source srcset="/images/reviews/will_tablet.jpg 1x, /images/reviews/will_tablet@2x.jpg 2x"
                    media="(min-width: 768px)" type="image/jpg" />
                <img src="/images/reviews/will_desktop.jpg" width="234" alt="Фото рецензента" />
            </picture>
            </div>
            <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136">
            <p class="reviewer__name">Will</p>
            <p class="reviewer-feedback">
                Last time I have visited a cooking course by Eva I was impressed with the way she explained
                everything to people. You can be sure you will manage to cook a delicious dish even if it is
                your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
                the next one and highly recommend it to everyone!
              </p>
        </div>

        <div class="slider__item">
            <div class="slider__image-wrap">
            <picture>
                <source srcset="/images/reviews/elizabeth_desktop.jpg 1x, /images/reviews/elizabeth_desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" type="image/jpg" />
            
                <source srcset="/images/reviews/elizabeth_tablet.jpg 1x, /images/reviews/elizabeth_tablet@2x.jpg 2x"
                    media="(min-width: 768px)" type="image/jpg" />
                <img src="/images/reviews/elizabeth_desktop.jpg" width="234" alt="Фото рецензента" />
            </picture>
            </div>
            <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136">
            <p class="reviewer__name">Elisabeth</p>
            <p class="reviewer-feedback">
                Last time I have visited a cooking course by Eva I was impressed with the way she explained
                everything to people. You can be sure you will manage to cook a delicious dish even if it is
                your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
                the next one and highly recommend it to everyone!
              </p>
        </div>

        
        
        
    </div> <!-- /slider -->   
    <div class="content"></div>


</div>
</section>