<section class="section section-reviews" id="reviews">
  <div class="container">
    <h2 class="section-title section-reviews__title">Reviews</h2>

    <div class="slider">
      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/john_desktop.jpg 1x, /images/reviews/john_desktop@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/john_tablet.jpg 1x, /images/reviews/john_tablet@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/john_desktop.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">John</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/will_desktop.jpg 1x, /images/reviews/will_desktop@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/will_tablet.jpg 1x, /images/reviews/will_tablet@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/will_desktop.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Will</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="
              /images/reviews/elizabeth_desktop.jpg    1x,
              /images/reviews/elizabeth_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="
              /images/reviews/elizabeth_tablet.jpg    1x,
              /images/reviews/elizabeth_tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/elizabeth_desktop.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Elisabeth</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop01.jpg 1x, /images/reviews/desktop01@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet01.jpg 1x, /images/reviews/tablet01@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop01.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Johnatan</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop02.jpg 1x, /images/reviews/desktop02@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet02.jpg 1x, /images/reviews/tablet02@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop02.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Olga</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop03.jpg 1x, /images/reviews/desktop03@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet03.jpg 1x, /images/reviews/tablet03@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop03.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Nicky</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop04.jpg 1x, /images/reviews/desktop04@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet04.jpg 1x, /images/reviews/tablet04@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop04.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Rose</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop05.jpg 1x, /images/reviews/desktop05@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet05.jpg 1x, /images/reviews/tablet05@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop05.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Sophie</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop06.jpg 1x, /images/reviews/desktop06@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet06.jpg 1x, /images/reviews/tablet06@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop06.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Daisy</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop07.jpg 1x, /images/reviews/desktop07@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet07.jpg 1x, /images/reviews/tablet07@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop07.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Poppy</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop08.jpg 1x, /images/reviews/desktop08@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet08.jpg 1x, /images/reviews/tablet08@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop08.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_4.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Ruby</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop09.jpg 1x, /images/reviews/desktop09@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet09.jpg 1x, /images/reviews/tablet09@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop09.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Scarlett</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop10.jpg 1x, /images/reviews/desktop10@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet10.jpg 1x, /images/reviews/tablet10@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop10.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Virginia</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop11.jpg 1x, /images/reviews/desktop11@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet11.jpg 1x, /images/reviews/tablet11@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop11.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Ivan</p>
      </div>

      <div class="slider__item">
        <picture>
          <source
            srcset="/images/reviews/desktop12.jpg 1x, /images/reviews/desktop12@2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />

          <source
            srcset="/images/reviews/tablet12.jpg 1x, /images/reviews/tablet12@2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="reviewer-image"
            src="/images/reviews/desktop12.jpg"
            width="136"
            alt="Фото рецензента"
          />
        </picture>

        <img class="rating" src="/images/reviews/rate_5.svg" alt="rating=5" width="136" />
        <p class="reviewer__name">Maddison</p>
      </div>
    </div>
    <!-- /slider -->

    <div class="sliderbig">
      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
          Looking forward to the next one and highly recommend it to everyone!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi et facilis voluptatibus!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eveniet sed omnis
          architecto dolore aperiam nisi impedit, labore nesciunt. Fugiat, optio sit repudiandae
          numquam architecto nisi placeat. Sed, nisi velit.
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eveniet sed omnis
          architecto dolore aperiam nisi impedit, labore nesciunt. Fugiat, optio sit repudiandae
          numquam architecto nisi placeat. Sed, nisi velit.
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ad illo perspiciatis illum
          exercitationem aliquid ut quam dolore dolorem excepturi ab enim animi vero placeat
          adipisci veniam, quisquam magnam officia.
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Ipsa ad illo perspiciatis illum exercitationem aliquid ut quam dolore dolorem excepturi ab
          enim animi vero placeat adipisci veniam, quisquam magnam officia.
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. Thank you so much for the masterclass! Looking forward to
          the next one and highly recommend it to everyone!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. Thank you so much for the masterclass! Looking forward to
          the next one and highly recommend it to everyone!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Thank you so much for the masterclass! Looking forward to the next one and highly
          recommend it to everyone!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ad illo perspiciatis illum
          exercitationem aliquid ut quam. Thank you so much for the masterclass! Looking forward to
          the next one and highly recommend it to everyone!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Last time I have visited a cooking course by Eva I was impressed with the way she. Looking
          forward to the next one and highly recommend it to everyone!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ad illo perspiciatis illum
          exercitationem aliquid ut quam dolore dolorem excepturi ab enim animi vero placeat
          adipisci veniam, quisquam magnam officia.
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          Thank you so much for the masterclass! Looking forward to the next one and highly
          recommend it to everyone!
        </p>
      </div>

      <div class="sliderbig__item">
        <p class="reviewer-feedback">
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
        </p>
      </div>
    </div>
    <div class="content"></div>
  </div>
</section>
