.button {
  font-family: Caveat Brush;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 25px;
  min-width: 145px;
  border: none;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  background-color: var(--accentColor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accentFontColor);
  &:hover,
  &:focus {
    background-color: var(--hoverColor);
  }
  &:active {
    background: var(--activeColor);
  }
  cursor: pointer;

  @media screen and (min-width: $desktop) {
    font-size: 24px;

    font-size: 24px;
    line-height: 65px;
    line-height: 1;
    min-width: 158px;
  }
}

.hero__button {
  display: block;
  width: 145px;

  margin: auto;
  margin-bottom: 45px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 31px;
    margin-left: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 158px;
    height: 45px;
    margin-bottom: 65px;
  }
}

.more__btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: var(--titleFont);
  font-size: 18px;
  line-height: 3.6;
  color: var(--accentColor);

  &:hover,
  &:focus {
    color: var(--hoverColor);
  }
  &:active {
    color: var(--activeColor);
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
