.contact {
  &__wrap {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
    padding-top: 25px;
    max-width: 290px;
    height: 510px;
    border-radius: 150px 150px 0px 0px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 17px;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.contacts-form__field {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  &:nth-child(2) {
    margin-bottom: 37px;
  }
  background-color: transparent;
}

.contacts__title {
  text-align: center;
}

.contacts__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
  color: var(--text-color);
}

.contacts-form__wrap {
  display: flex;
  justify-content: center;
}

.contacts {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contacts__button {
  outline: transparent;
  cursor: pointer;
}
