.contacts-form__input {
  border: none;
  border-bottom: 1px solid var(--accentColor);
  display: block;
  background-color: transparent;

  width: 265px;

<<<<<<< Updated upstream
  @media screen and (min-width: 768px) {
    width: 410px;
  }
  @media screen and (min-width: 1280px) {
=======
  @media screen and (min-width: $tablet) {
    width: 410px;
  }
  @media screen and (min-width: $desktop) {
>>>>>>> Stashed changes
    width: 430px;
  }

  &::placeholder {
    color: var(--accentColor);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  &:focus-within {
    outline: none;
  }
}

.contacts-form__field {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  &:nth-child(2) {
    margin-bottom: 37px;
  }
  background-color: transparent;
}

.contacts__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
}
.contacts-form__wrap {
  display: flex;
  justify-content: center;
}

.contacts {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 260px;
}
