.logo {
  margin-right: auto;
  margin-left: auto;
  width: 96px;

  @media screen and (min-width: $tablet) {
    margin-left: 0px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 0;
    margin-right: 40px;
    width: 158px;
  }
}
