.logo {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 0;
    margin-right: 40px;
  }
}
