.scrollup {
  display: flex;
  justify-content: center;
  position: fixed;
  border-radius: 50%;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  width: 50px;
  height: 50px;
  bottom: 80px;
  right: 20px;
  opacity: 0;

  &-icon {
    width: 50px;
    height: 50px;

    cursor: pointer;
    fill: var(--placeholderColor);
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 8px;

    &-icon {
      width: 70px;
      height: 70px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 100px;
    height: 100px;
    right: 70px;

    &-icon {
      width: 100px;
      height: 100px;
    }
  }
  &:hover,
  &:focus {
    background-color: var(--placeholderColor);
  }
  &:hover .scrollup-icon,
  &:focus .scrollup-icon {
    fill: var(--accentFontColor);
  }
  &:hover,
  &:focus {
    outline: none;
  }
}
.showBtn {
  opacity: 1;
  transform: translateY(0);
}
