
.slider-item {
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.slider-item__imgage-wrap {
  width: 100%;
  
  border-radius: 50%;


/* Основные стили */

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {

  overflow: hidden;
  margin-bottom: 6px;
}
.rating {
  margin-bottom:9;
}
.reviewer__name {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.reviewer-feedback {
  max-width: 626px;
  text-align: center;
  color: var(--fontColor);
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
 
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 50px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  z-index: 10;
  font-size: 100;
  width: 40px;
  height: 30px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  // background: url("../img/arrow-left.svg") 0 0 no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  // background: url("../img/arrow-right.svg") 0 0 no-repeat;
}

.slider .slick-arrow.slick-disabled {
  background-color: #fff; /*если инфинити отключить, то можем придавать кнопке, которая уже дальше не прокрутит слайды свой стиль*/
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 3px;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: yellow;
}
/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
}

.slider__item {
  transition: all 0.3s ease 0s;
  opacity: 1;
  text-align: center; /*выровняли по центру все что внутри слайдера*/
}

.slider__item.slick-center {
  opacity: 1;
}

.sliderbig {
  text-align: center;
}

.slider__counter {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

