// .wrap-slider {
//   height: 100%;
//   padding: 50px;
// }
.slider-item {
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.slider-item__imgage-wrap {
  width: 100%;
  
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 6px;
}
.rating {
  margin-bottom:9;
}
.reviewer__name {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.reviewer-feedback {
  max-width: 626px;
  text-align: center;
  color: var(--fontColor);
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
.slick-track {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
