.social-icons__list {
  display: inline-flex;
}
.social-icons__item {
  & + .social-icons__item {
    margin-left: 12px;
  }
}
.social-icons__link {
  width: 20px;
  height: 20px;
}
.social-icons__icon {
  width: 20px;
  height: 15px;
  fill: var(--fontColor);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-icons__link:hover &,
  .social-icons__link:focus & {
    fill: var(--hoverColor);
  }

  @media screen and (min-width: $desktop) {
    width: 24px;
    height: 19px;
  }
}
