.section--about-us {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  // outline: 2px solid teal; //for testing
}

.about-us__flex {
  display: block;
  // margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.about-us__item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin-left: 15px;
  }
}

.about-us-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: -10px;
    left: -30px;
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: -30px;
    left: -60px;
  }
}

.about-us__title {
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.8;
  }
}

// #more {
//   display: none;
// }
.more-about__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  font-family: var(--titleFont);
  font-size: 18px;
  line-height: 3.6;
  color: var(--accentColor);
  &:hover,
  &:focus {
    color: var(--hoverColor);
  }
  &:active {
    color: var(--activeColor);
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.about-us__content {
  @media screen and (max-width: 1023px) {
    margin-bottom: 15px;
    line-height: 1.4;

    &.last {
      margin-bottom: 0;
    }

    &.hidden {
      display: none;
    }
  }
  @media screen and (min-width: $tablet) {
    &.last {
      margin-top: 15px;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.57;
    // margin-bottom: 15px;
    &.last {
      margin-top: 15px;
    }
  }
}
