.header {
  position: absolute;
  height: 50px;
  width: 100%;
}

.header__container {
  position: relative;
  padding-top: 7px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // display: flex;
  // align-items: center;

  @media screen and (max-width: 1023px) {
    .nav__menu-list {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 27px;
  }

  @media screen and (min-width: 1023px) {
    padding-top: 31px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__menu-list {
  display: flex;
}

.nav__menu-list-item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
.nav__menu-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--fontColor);
  &:focus,
  :hover {
    color: var(--hoverColor);
  }
}
