.hero__container {
  position: relative;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 83px;
  padding-left: 48px;
  padding-right: 15px;
  text-align: center;
  z-index: 10;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-left: 68px;
    text-align: left;
    margin-left: 0;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 159px;
    padding-left: 229px;
    text-align: left;
    margin-left: 0;
  }
}

.hero__title {
  margin-bottom: 3px;
  font-family: var(--titleFont);
  font-style: normal;
  font-weight: var(--titleFontWeight);
  font-size: 30px;
  line-height: 1.27;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.02;
  }
}

.hero__subtitle {
  margin-bottom: 37px;
  font-family: var(--mainFontFamily);
  font-style: normal;
  font-weight: 500;
  font-size: var(--mainFontSize);
  line-height: 1.25;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero__img-spoon {
  position: absolute;
  left: 0;
  top: 168px;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.hero__img-donuts {
  position: absolute;
  width: 120px;
  left: 0px;
  top: 0px;
  z-index: -1;

  @media screen and (min-width: 768px) {
    width: 380px;
    right: 137px;
    left: auto;
    top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 720px;
    right: 0px;
    top: 0px;
  }
}
