.section-program__container {
  padding-bottom: 50px;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 40px;
  }
}

.section-program__title {
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 10px;
  }
}

.section-program__text {
  margin-bottom: 10px;

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    margin-bottom: 21px;
  }
}

.description__item {
  display: flex;
  align-items: center;

  &::before {
    flex-shrink: 0;
    display: block;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(/images/coffee-cup-bullet.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.section-program__more {
  @media screen and (max-width: 1279px) {
    margin-top: 10px;

    &.hidden {
      display: none;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    margin-top: 21px;
  }
}

.section-program__description {
  flex-basis: calc((100% -20px) / 2);

  @media screen and (min-width: $tablet) {
    margin-right: 38px;
  }
}

.section-program__points {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% -20px) / 2);
  }
}

.points__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;

  @media screen and (max-width: 767px) {
    margin-left: -6px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-left: -15px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: -32px;
  }
}

.points__item {
  position: relative;
  width: 142px;
  height: 142px;
  margin-left: 6px;

  &:nth-child(n + 3) {
    margin-top: 57px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-left: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: 180px;
    height: 180px;
    margin-left: 32px;
    &:nth-child(n + 3) {
      margin-top: 61px;
    }
  }

  border-radius: 50%;
  background-color: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  &:nth-child(2n) {
    position: relative;
    bottom: -33px;
  }

  &:hover::before {
    animation: rotateWithOrigin 3000ms linear infinite;
    transform-origin: center center;
  }
}

@keyframes rotateWithOrigin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.points__item::before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  position: absolute;
  top: -25%;
  left: 25%;

  @media screen and (min-width: $desktop) {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
  }
}

.donut1::before {
  background-image: url(/images/donuts/donut1_mobile.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/donuts/donut1_mobile@2x.png);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(/images/donuts/donut1_desktop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/donuts/donut1_desktop@2x.png);
    }
  }
}

.donut2::before {
  background-image: url(/images/donuts/donut2_mobile.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/donuts/donut2_mobile@2x.png);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(/images/donuts/donut2_desktop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/donuts/donut2_desktop@2x.png);
    }
  }
}

.donut3::before {
  background-image: url(/images/donuts/donut3_mobile.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/donuts/donut3_mobile@2x.png);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(/images/donuts/donut3_desktop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/donuts/donut3_desktop@2x.png);
    }
  }
}

.donut4::before {
  background-image: url(/images/donuts/donut4_mobile.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/donuts/donut4_mobile@2x.png);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(/images/donuts/donut4_desktop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/donuts/donut4_desktop@2x.png);
    }
  }
}

.points__title {
  font-family: var(--titleFont);
  font-size: 18px;
  line-height: 1.277;
  text-align: center;
  color: #000;
  padding-top: 50px;
  margin-bottom: 13px;

  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 1.25;
    padding-top: 63px;
    margin-bottom: 16px;
  }
}

.points__text {
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 13px;

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.points__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 18px;

  @media screen and (min-width: $desktop) {
    width: 30px;
    height: 24px;
  }
}

// .points__picture {
//   position: absolute;
//   top: -25%;
//   left: 25%;

//   @media screen and (max-width: 1279px) {
//     width: 77px;
//   }

//   @media screen and (min-width: $desktop) {
//     width: 97px;
//   }
// }
