.section-reviews__title {
  text-align: center;
}

.reviewers-cardset {
  display: flex;
}

.reviewer-photo {
  border-radius: 50%;
  margin-bottom: 6px;

  @media screen and (min-width: $tablet) {
    width: 110px;
  }

  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

.reviewer-rate__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviewers-cardset__item {
  margin-left: auto;
  margin-right: auto;
}

.reviewers-cardset__item--show {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.reviewer__name {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.reviewer__feedback-text {
  max-width: 626px;
  text-align: center;
  color: var(--fontColor);
  @media screen and (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.reviewer-feedback-text--show {
  // display: none;
  // @media screen and (max-width: 767px) {
  //   display: block;
  // }
}

.feedback {
  max-width: 626px;
  margin-right: auto;
  margin-left: auto;
}

.counter {
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
  font: size 16px;
  color: var(--accentColor);
}
.counter__text {
  display: inline-block;
  vertical-align: middle;
}
.counter:before,
.counter:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 1px;
  background-color: var(--accentColor);
  position: relative;
}
.counter:before {
  margin-left: -100%;
  left: -12px;
}
.counter:after {
  margin-right: -100%;
  right: -12px;
}

.reviewer-photo--center {
  margin-left: auto;
  margin-right: auto;
  width: 110px;

  @media screen and (min-width: $tablet) {
    width: 186px;
  }

  @media screen and (min-width: $desktop) {
    width: 234px;
    margin-top: 19px;
  }
}
